In [5]:
import csv
import pandas as pd

In [6]:
assigned_hours_df = pd.read_csv("csv_files/Assigned_Hours.csv", skipinitialspace=True)
course_instances_df = pd.read_csv("csv_files/Course_Instances.csv", skipinitialspace=True)
course_plannings_df = pd.read_csv("csv_files/Course_plannings.csv", skipinitialspace=True)
courses_df = pd.read_csv("csv_files/Courses.csv", skipinitialspace=True)
programme_courses_df = pd.read_csv("csv_files/Programme_Courses.csv", skipinitialspace=True)
programmes_df = pd.read_csv("csv_files/Programmes.csv", skipinitialspace=True)
registrations_df = pd.read_csv("csv_files/Registrations.csv", skipinitialspace=True)
reported_hours_df = pd.read_csv("csv_files/Reported_Hours.csv", skipinitialspace=True)
senior_teachers_df = pd.read_csv("csv_files/Senior_Teachers.csv", skipinitialspace=True)
students_df = pd.read_csv("csv_files/Students.csv", skipinitialspace=True)
teaching_assistants_df = pd.read_csv("csv_files/Teaching_Assistants.csv", skipinitialspace=True)

In [7]:
# Output RDF Turtle format for Courses
with open("ttl_files/courses.ttl", "w") as f:
    # Write prefixes
    f.write("@prefix : <http://example.org/university#> .\n")
    f.write("@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .\n")
    f.write("@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .\n\n")

    merged_df = pd.merge(courses_df, programme_courses_df,
                         left_on="Course code", right_on="Course", how="left")
    # Loop over each row
    for index, row in merged_df.iterrows():
        course_uri = f":course{row['Course code']}"
        f.write(f"{course_uri} rdf:type :Course ;\n")
        f.write(f"    :courseCode \"{row['Course code']}\"^^xsd:integer ;\n")
        f.write(f"    :courseName \"{row['Course name']}\"^^xsd:string ;\n")
        f.write(f"    :credit \"{row['Credits']}\"^^xsd:decimal ;\n")
        f.write(f"    :level \"{row['Level']}\"^^xsd:string ;\n")  
        f.write(f"    :courseType \"{row['Course Type']}\"^^xsd:string .\n\n")

In [8]:
# Output RDF Turtle format for ProgrammeCourses
with open("ttl_files/programmeCourses.ttl", "w") as f:
    # Write prefixes
    f.write("@prefix : <http://example.org/university#> .\n")
    f.write("@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .\n")
    f.write("@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .\n\n")

    # Loop over each row
    for index, row in programme_courses_df.iterrows():
        academic_year = row['Academic Year']
        study_year = str(row['Study Year'])
        course_code = row['Course']
        programme_code = row['Programme code']

        pc_uri = f":programmeCourse_{academic_year}_{study_year}_{course_code}_{programme_code}"
        
        f.write(f"{pc_uri} rdf:type :ProgrammeCourses ;\n")
        f.write(f"    :pCAcademicYear \"{row['Academic Year']}\"^^xsd:string ;\n")
        f.write(f"    :pCStudyYear \"{row['Study Year']}\"^^xsd:decimal ;\n")
        f.write(f"    :course :course{course_code} ;\n")
        f.write(f"    :programme :programme{programme_code} .\n\n")

In [9]:
# Output RDF Turtle format for Programmes
with open("ttl_files/programmes.ttl", "w") as f:
    # Write prefixes
    f.write("@prefix : <http://example.org/university#> .\n")
    f.write("@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .\n")
    f.write("@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .\n\n")

    merged_df = pd.merge(programmes_df, courses_df,
                         left_on="Department name", right_on="Department", how="left")
    # Loop over each row
    for index, row in merged_df.iterrows():
        programme_uri = f":programme{row['Programme code']}"
        f.write(f"{programme_uri} rdf:type :Programme ;\n")
        f.write(f"    :programmeCode \"{row['Programme code']}\"^^xsd:integer ;\n")
        f.write(f"    :programmeName \"{row['Programme name']}\"^^xsd:string ;\n")
        f.write(f"    :director :seniorTeacher{row['Director']} ;\n")
        f.write(f"    :programDivision :division{row['Department']} .\n\n")

In [10]:
# Output RDF Turtle format for Teachers
with open("ttl_files/teachers.ttl", "w") as f:
    # Write prefixes
    f.write("@prefix : <http://example.org/university#> .\n")
    f.write("@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .\n")
    f.write("@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .\n\n")

    # Loop over each row
    for index, row in senior_teachers_df.iterrows():
        teacher_uri = f":teacher{row['Teacher id']}"
        f.write(f"{teacher_uri} rdf:type :Teacher ;\n")
        f.write(f"    :teacherId \"{row['Teacher id']}\"^^xsd:string ;\n")
        f.write(f"    :teacherName \"{row['Teacher name']}\"^^xsd:string .\n\n")

In [11]:
# Output RDF Turtle format for SeniorTeachers
with open("ttl_files/seniorTeachers.ttl", "w") as f:
    # Write prefixes
    f.write("@prefix : <http://example.org/university#> .\n")
    f.write("@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .\n")
    f.write("@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .\n\n")

    # Loop over each row
    for index, row in senior_teachers_df.iterrows():
        teacher_uri = f":seniorTeachers{row['Teacher id']}"
        f.write(f"{teacher_uri} rdf:type :SeniorTeachers ;\n")
        f.write(f"    :teacherId \"{row['Teacher id']}\"^^xsd:string ;\n")
        f.write(f"    :teacherName \"{row['Teacher name']}\"^^xsd:string .\n\n")

In [12]:
# Output RDF Turtle format for Assistants
with open("ttl_files/assistants.ttl", "w") as f:
    # Write prefixes
    f.write("@prefix : <http://example.org/university#> .\n")
    f.write("@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .\n")
    f.write("@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .\n\n")

    # Loop over each row
    for index, row in senior_teachers_df.iterrows():
        teacher_uri = f":assistants{row['Teacher id']}"
        f.write(f"{teacher_uri} rdf:type :Assistants ;\n")
        f.write(f"    :teacherId \"{row['Teacher id']}\"^^xsd:string ;\n")
        f.write(f"    :teacherName \"{row['Teacher name']}\"^^xsd:string .\n\n")

In [16]:
# Output RDF Turtle format for Students
with open("ttl_files/students.ttl", "w") as f:
    # Write prefixes
    f.write("@prefix : <http://example.org/university#> .\n")
    f.write("@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .\n")
    f.write("@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .\n\n")

    # Loop over each row
    for index, row in students_df.iterrows():
        student_uri = f":student{row['Student id']}"
        f.write(f"{student_uri} rdf:type :Student ;\n")
        f.write(f"    :studentId \"{row['Student id']}\"^^xsd:string ;\n")
        f.write(f"    :studentName \"{row['Student name']}\"^^xsd:string ;\n")
        f.write(f"    :graduated \"{row['Graduated']}\"^^xsd:boolean ;\n") # needs improvement should be an integer
        f.write(f"    :studentEnrollmentYear \"{row['Year']}\"^^xsd:integer ;\n")
        f.write(f"    :enrolledIn :programme{row['Programme']} .\n\n")

In [17]:
# Output RDF Turtle format for course instances

with open("ttl_files/courseInstance.ttl", "w") as f:
    # Write prefixes
    f.write("@prefix : <http://example.org/university#> .\n")
    f.write("@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .\n")
    f.write("@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .\n\n")

    merged_df = pd.merge(course_instances_df, course_plannings_df,
                     left_on="Instance_id", right_on="Course", how="left")
    # Loop over each row
    for index, row in merged_df.iterrows():
        academic_year = row['Academic year']
        study_period = str(row['Study period'])
        course_code = row['Course code']
        courseInstance_uri = f":courseInstance_{academic_year}_{study_period}_{course_code}"

        f.write(f"{courseInstance_uri} rdf:type :CourseInstance ;\n")
        f.write(f"    :cIAcademicYear \"{row['Academic year']}\"^^xsd:string ;\n")
        f.write(f"    :cIStudyPeriod \"{row['Study period']}\"^^xsd:decimal ;\n")
        f.write(f"    :planningNumStudents :{row['Planned number of Students']}\"^^xsd:integer ;\n")
        f.write(f"    :course :course{course_code} .\n\n")

In [ ]:
# # Output RDF Turtle format for enrolledIn
# with open("ttl_files/enrolledIn.ttl", "w") as f:
#     # Write prefixes
#     f.write("@prefix : <http://example.org/university#> .\n")
#     f.write("@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .\n")
#     f.write("@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .\n\n")

#     # Loop over each row
#     for index, row in students_df.iterrows():
#         student = row["Student id"]
#         programme = row["Programme"]

#         enrolledIn_uri = f":enrolledIn_{student}_{programme}"
#         f.write(f"{enrolledIn_uri} rdf:type :EnrolledIn ;\n")
#         f.write(f"    :studentId \"{row['Student id']}\"^^xsd:string ;\n")
#         f.write(f"    :programme :programme \"{row['Programme']}\"^^xsd:string ;\n")
#         f.write(f"    :year \"{row['Year']}\"^^xsd:string .\n\n") 
#         # f.write(f"    :department :department{row['Department name']} .\n\n")

In [19]:
# assigned_hours_df, course_plannings_df, registrations_df, reported_hours_df, teaching_assistants_df
# Output RDF Turtle format for Registrations
with open("ttl_files/registration.ttl", "w") as f:
    # Write prefixes
    f.write("@prefix : <http://example.org/university#> .\n")
    f.write("@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .\n")
    f.write("@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .\n\n")

    # Loop over each row
    for index, row in registrations_df.iterrows():
        student = row["Student id"]
        courseInstance = row["Course Instance"]

        registration_uri = f":registrations_{student}_{courseInstance}"
        f.write(f"{registration_uri} rdf:type :Registration ;\n")
        f.write(f"    :status \"{row['Status']}\"^^string ;\n")
        f.write(f"    :grade \"{row['Grade']}\"^^xsd:decimal ;\n") 
        f.write(f"    :studentId :student \"{row['Student id']}\"^^xsd:string ;\n")
        f.write(f"    :courseInstance :courseInstance \"{row['Course Instance']}\"^^xsd:string .\n\n")

In [20]:
department_csv_files = [courses_df, programmes_df, senior_teachers_df, teaching_assistants_df]
possible_column_names = ["Department", "Department name"]
departments = set()

# Loop through each file
for file in department_csv_files:
    for col in possible_column_names:
        if col in file.columns:
            departments.update(file[col].dropna().unique())

# Create a DataFrame and save to CSV
departments_df = pd.DataFrame(sorted(departments), columns=["Department"])
departments_df.to_csv("csv_files/department.csv", index=False)

departments_name_df = pd.read_csv("csv_files/department.csv", skipinitialspace=True)

# Output RDF Turtle format for department
with open("ttl_files/department.ttl", "w") as f:
    # Write prefixes
    f.write("@prefix : <http://example.org/university#> .\n")
    f.write("@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .\n")
    f.write("@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .\n\n")

    # Loop over each row
    for index, row in departments_name_df.iterrows():

        department_uri = f":department{row['Department']}"
        f.write(f"{department_uri} rdf:type :Department ;\n")
        f.write(f"    :departmentName \"{row['Department']}\"^^xsd:string .\n\n")

In [21]:
# Output RDF Turtle format for division
division_csv_files = [courses_df, senior_teachers_df, teaching_assistants_df]
possible_column_names = ["Division", "Division name"]
divisions = set()

# Loop through each file
for file in division_csv_files:
    for col in possible_column_names:
        if col in file.columns:
            divisions.update(file[col].dropna().unique())

# Create a DataFrame and save to CSV
divisions_df = pd.DataFrame(sorted(divisions), columns=["Division"])
divisions_df.to_csv("csv_files/division.csv", index=False)

divisions_name_df = pd.read_csv("csv_files/division.csv", skipinitialspace=True)

with open("ttl_files/division.ttl", "w") as f:
    # Write prefixes
    f.write("@prefix : <http://example.org/university#> .\n")
    f.write("@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .\n")
    f.write("@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .\n\n")

    # Loop over each row
    for index, row in divisions_name_df.iterrows():

        division_uri = f":division{row['Division']}"
        f.write(f"{division_uri} rdf:type :Division ;\n")
        f.write(f"    :divisionName \"{row['Division']}\"^^xsd:string .\n\n") 
        # f.write(f"    :DivisionInDepartment :department") needs to be solved

In [22]:
# Output RDF Turtle format for CourseDivision
with open("ttl_files/courseDivision.ttl", "w") as f:
    # Write prefixes
    f.write("@prefix : <http://example.org/university#> .\n")
    f.write("@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .\n")
    f.write("@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .\n\n")

    # Loop over each row
    for index, row in courses_df.iterrows():
        courseCode = row["Course code"]
        division = row["Division"]
        courseDivision_uri = f":course_{courseCode}_{division}"
        f.write(f"{courseDivision_uri} rdf:type :courseDivision ;\n")
        f.write(f"    :courseCode :course\"{row['Course code']}\"^^xsd:string ;\n")
        f.write(f"    :division :division\"{row['Division']}\"^^xsd:string .\n\n")

In [ ]:
# Output RDF Turtle format for teacherDivision
with open("ttl_files/teacherDivision.ttl", "w") as f:
    # Write prefixes
    f.write("@prefix : <http://example.org/university#> .\n")
    f.write("@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .\n")
    f.write("@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .\n\n")

    # Loop over each row
    for index, row in courses_df.senior_teachers_df():
        teacherId = row["Teacher id"]
        division = row["Division"]
        courseDivision_uri = f":course_{courseCode}_{division}"
        f.write(f"{courseDivision_uri} rdf:type :courseDivision ;\n")
        f.write(f"    :courseCode :course\"{row['Course code']}\"^^xsd:string ;\n")
        f.write(f"    :division :division\"{row['Division']}\"^^xsd:string .\n\n")

In [30]:
senior_teachers_df.head()

  Teacher name     Teacher id Department name Division name
0    Teacher 1  19630126-0001              D4          D4-3
1    Teacher 2  19600814-0002              D7          D7-4
2    Teacher 3  19600905-0003              D7          D7-1
3    Teacher 4  19590129-0004              D3          D3-3
4    Teacher 5  19610623-0005              D5          D5-2

In [28]:
teaching_assistants_df.head()

  Teacher name     Teacher id Department name Division name
0        TA 31  19781125-0031              D6          D6-0
1        TA 32  19750906-0032              D3          D3-2
2        TA 33  19750705-0033              D6          D6-1
3        TA 34  19761024-0034              D5          D5-1
4        TA 35  19780602-0035              D8          D8-2

In [24]:
# Standardize column names

# assigned_hours_df = pd.read_csv("csv_files/Assigned_Hours.csv", skipinitialspace=True)
# reported_hours_df = pd.read_csv("csv_files/Reported_Hours.csv", skipinitialspace=True)

# print("Reported columns:", reported_hours_df.columns.tolist())

assigned_hours_df.rename(columns={
    "Hours": "Assigned Hours"
}, inplace=True)

reported_hours_df.rename(columns={
    "Course code": "Course Instance",  # Aligning with Assigned_Hours
    "Hours": "Reported Hours"
}, inplace=True)

# Ensure merge columns are strings
assigned_hours_df["Course Instance"] = assigned_hours_df["Course Instance"].astype(str)
assigned_hours_df["Teacher Id"] = assigned_hours_df["Teacher Id"].astype(str)
reported_hours_df["Course Instance"] = reported_hours_df["Course Instance"].astype(str)
reported_hours_df["Teacher Id"] = reported_hours_df["Teacher Id"].astype(str)

# Merge
merged_df = pd.merge(
    assigned_hours_df,
    reported_hours_df,
    on=["Course Instance", "Teacher Id"],
    how="outer"
)
merged_df
# Select and reorder columns
courseInstanceStaff_dfb = merged_df[["Course Instance", "Teacher Id", "Assigned Hours", "Reported Hours"]]

# Save
courseInstanceStaff_dfb.to_csv("csv_files/courseInstanceStaff.csv", index=False)

courseInstanceStaff_df = pd.read_csv("csv_files/courseInstanceStaff.csv", skipinitialspace=True)


# Output RDF Turtle format for CourseDivision
with open("ttl_files/courseInstanceStaff.ttl", "w") as f:
    # Write prefixes
    f.write("@prefix : <http://example.org/university#> .\n")
    f.write("@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .\n")
    f.write("@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .\n\n")

    # Loop over each row
    for index, row in courseInstanceStaff_df.iterrows():
        courseInstance = row["Course Instance"]
        teacherId = row["Teacher Id"]
        courseInstanceStaff_uri = f":courseInstanceStaff_{courseInstance}_{teacherId}"
        f.write(f"{courseInstanceStaff_uri} rdf:type :courseInstanceStaff ;\n")
        f.write(f"    :courseInstance :courseInstance\"{row['Course Instance']}\"^^xsd:string ;\n")
        f.write(f"    :teacherId :teacher\"{row['Teacher Id']}\"^^xsd:string ;\n")
        f.write(f"    :assignedHours\"{row['Assigned Hours']}\"^^xsd:string ;\n")
        f.write(f"    :reportedHours\"{row['Reported Hours']}\"^^xsd:string .\n\n")